# Created by https://www.toptal.com/developers/gitignore/api/intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=intellij

### IntelliJ ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm, and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Ignorar configuraciones locales
.idea/
.idea/**

# Ignorar archivos de compilación y generados por Maven
target/
*.log

# Ignorar archivos de configuración sensibles

src/main/resources/config.properties.txt

# Archivos específicos de usuario
*.iws
*.iml
*.ipr

# Ignorar archivos de Gradle y Maven con auto-import
.idea/**/gradle.xml
.idea/**/libraries
.idea/modules/
.idea/**/contentModel.xml

# Archivos de construcción de CMake
cmake-build-*/

# Archivos generados por plugins
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/sonarlint/


# No subir imágenes
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Archivos específicos de Android Studio y Crashlytics
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
